@import 'bootstrap-icons/font/bootstrap-icons.css';

.Answers { 
     display: flex;
     flex-direction: column;
     justify-content: center;
     background-color: #222222;
     border-radius: 8px;
     border: #ccc 3px solid;
     padding: 10px;
     word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.optionsText {
    line-height: 1.8; /* Ajusta el valor según necesites */
    margin-bottom: 8px;
}

.option-text {
    color: #fafafa;
}

.answer-button {
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

.cardFlashcard {
    background-color: #fff;
    width: 300px;
    height: auto;
    padding: 20px;
    min-height: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cardFlashcard {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .cardFlashcard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  
  .card-title {
    font-size: 1.5rem;
    color: #6a0dad;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .card-description-flashcard {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
  }

  .grid-contenedor-falshcards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Asegura un mínimo de 250px */
    gap: 15px;  /* ✅ Esto centra las cards en su celda */
    
    justify-content: center;
    place-items: center;
    margin-top: 20px;
}

.Problem {
  color: #1F1F1F;
  font-size: 24px;
  font-size: sans-serif;
}

.answer-button.correct {
  background-color: #4CAF50 ; /* Verde */
  color: white;
}

.answer-button.incorrect {
  background-color: #FF4C4C ; /* Rojo */
  color: white;
}