.emoji {
    color: #1F1F1F;
    font-size: 200px;
    margin: 24px;
    font-family: sans-serif;
}

@media (max-width: 900px) {
    .emoji {
        font-size: 80px; /* Reduce el tamaño de la fuente */
    }
}