footer {
    background-color: #222222;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Asegura que se extienda por toda la pantalla */
    margin-top: auto; /* Empuja el footer al fondo */
  }