* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #6a0dad;
  height: 70px;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinear elementos al inicio */
  gap: 20px; /* Espacio entre logo y menú */
}

.Logo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* Botón de menú hamburguesa */
.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* Menú de navegación */
.nav {
  display: flex;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  position: relative;
}

.nav-link:hover {
  text-decoration: underline;
}

/* RESPONSIVE - Menú hamburguesa en pantallas menores a 500px */
@media (max-width: 500px) {
  .menu-btn {
    display: block;
    margin-left: auto; /* Mueve el botón a la derecha */
  }

  .nav {
    position: fixed;
    top: 70px;
    right: 0; /* Fija el menú en la derecha */
    width: 100%; /* Ajusta el ancho del menú */
    height: 23vh;
    background-color: #333;
    display: none;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente los elementos dentro del menú */
    gap: 15px;
    padding: 20px;
  }

  .nav.open {
    display: flex;
    justify-content: center; /* Centra el contenido dentro del nav */
  }

  .nav ul {
    flex-direction: column;
    gap: 15px;
    justify-content: center; /* Centra los li verticalmente */
    align-items: center; /* Centra los li horizontalmente */
  }

  .nav ul li {
    text-align: center; /* Alinea los enlaces dentro de cada li */
  }
}